zeppelin-0.7.0-bin-all/bin/*
zeppelin-0.7.0-bin-all/conf/*
zeppelin-0.7.0-bin-all/interpreter/*
zeppelin-0.7.0-bin-all/lib/*
zeppelin-0.7.0-bin-all/licenses/*
zeppelin-0.7.0-bin-all/local-repo/*
zeppelin-0.7.0-bin-all/logs/*
zeppelin-0.7.0-bin-all/metastore_db/*
zeppelin-0.7.0-bin-all/run/*
zeppelin-0.7.0-bin-all/sparkPredictions/*
data_session
data_session_train
data_session_test
derby.log
*.map
LICENSE
NOTICE
README.md
zeppelin-web-0.7.0.war
